// En esta seccion esta todos los colores de la página web

$bgHeader: #FFFCF2;  //Color de Fondo del 'header'. 'nav'
$bgSection: #FFFFFA;  //Color de Fondo de los 'section'
$bgSecondary: #FAFAFA;;  //Color de Fondo de los 'cards'
$bgLabelForm: #f7f7f7;  //Color de Fondo de los label y text areara del'formulario'
$bgWhite: #FFFFFF;  //Color de Fondo del los 'cards-hover', 'formulario'
$bgDark: #404F54;  //Color de Fondo del 'footer'
$bgBtnDanger: #E8505B;  //Color de Fondo del boton 'Contáctanos', 'Enviar'
$bgBtnInfo: #2AA198;  //Color de Fondo del boton 'Saber más', "Nuestros Servicios", 'up arrow'

$clHoverDark: #404F54;  //Color de texto 'menú-hover'
$clTextPrimary: #586E75;  //Color de texto 'h1 hedaer', 'h2 section', 'h3 cards', 'teff-mail-dir'
$clTextSecondary: #77898E;  //Color de texto 'Menu', 'parrafo header', 'parrafo section', 'parrafo cards', 'parrafo telf-mail-dir', 'label'
$clTextSuccess: #BABABA;  //Colores de texto 'info footer', 'iconos redes sociales'
$clTextLight: #F3F3F3;  //Color de texto 'titulos footer'
$clTextWhite: #FFFFFF;  //Color de texto del boton 'Contáctano', 'Saber más', 'Nuestros Servicios', 'Enviar', 'up arrow'
$clTextDanger: #E8505B;  //Color de texto paginación 'Sobre Nosotros', 'Nuestros Servicios', 'Nuestros Clientes', 'Contáctanos'
$clTextInfo: #2AA198;  //Color de texto 'Subtitulo h2 section'