// En esta seccion esta todos los pesos de letra de la página web

$ftTitle: 'Montserrat', 'sans-serif';  //Fuente de todos los  titulos
$ftButton: 'Montserrat', 'sans-serif';  //Fuente de todos los botones
$ftParagraph: 'Noto Sans', 'sans-serif';  //Fuente de todos los parrafos
$ftSubParagrah: 'Noto Sans TC', sans-serif; // Fuente de contácto y formulario
$ftPage: 'Montez', 'cursive';  //Fuente de la paginación de los section

$wtTitle: 700;  //Peso de letra de todos los titutlos
$wtCard: 600;  //Peso de letra de los cards
$wtPrimary: 600;  //Peso de letra de 'nuestros clientes', 'contáctanos'
$wtSecondary: 500;  //Peso de letra de los titulos del footer
$wtButton: 500;  //Peso de letra de los botones
$wtParagraph: 400;  //Peso de letra de todos los parrafos, subtitulos
$wtLight: 300;  //Peso de letra de información de contacto, formulario, footer - Noto sans TC
//$wtLight: 100; //Otro opcion al peso 300 - Noto sans Tc