//- Contenido titulo, texto del header principal Inicio
-const titleH1 = {part:'Se parte de', name:'Bodhi', we:'Nosotros'}
-let subTitleOne = 'Impulsa tú negocio en Internet con una página web para que tus clientes permanezcan siempre contigo.'

//- Contenido titulo, texto del section Sobre Nosotros
-const titleWe = {part:'Estamos aqui', text:'para ofrecerte lo mejor!'}
-let subTitleWe = {crea:'Creativos', com:'Comprometidos', inn:'Innovadores', exp:'Experiencia'}
-let paragraphWeOne = 'Somos una startup con experiencia realizando proyectos de diseño y desarrollo de Páginas Web.'
-let paragraphWeTwo = 'Contamos con un equipo disciplinado de profesionales y un soporte multifuncional acorde a la demanda tecnológica del mercado.'
-const paginations = {pageOne:'Sobre Nosotros', pageTwo:'Nuestros Servicios', pageThree:'Nuestros Clientes', pageFour:'Contáctanos'}

//- Contenido titulo, texto del section Nuestros Servicios 'CARDS
-const cards = {titleOne:'Diseño Web Profesional y Exclusivo', titleTwo:'Web Responsive Design', titleThree:'Estructura Web Profesional'}
-let textCardsOne = 'El diseño será tu marca personal único, enfocado en la efectividad para todos tus usuarios.';
-let textCardsTwo = 'Tu nueva página web podrá adaptarse a todos los dispositivos desktop, móviles y tablets.';
-let textCardsThree = 'Crear una buena estructura web es fundamental para mejorar su posicionamiento en Internet';

//- Contenido titulo, texto del section Nuestros Clientes
-const titleClient = 'Algunos clientes que confian en Bodhi'

//- Contenido titulo, texto del section Contáctanos
-const titleContact = 'Nos encantaría apoyarte'
-let paragraphContact = 'Empecemos con una reunión para hablar de tus proyectos digitales.'
-const titleContactInfo = {phone:'Teléfono', email:'Email', address:'Dirección'}
-let paragraphContactInfo = {phone:'(+51) 902 591 012', email:'contacto@bodhiweb.com', address:'Urb. Remansos #5014 - Lurín - Lima'}


//- Contenido titulo, texto del Footer
-let textOneFoot = 'Conéctamos tu pasión con tu negocio.'
-let textTwoFoot = 'Somos una startup con experiencia realizando proyectos de diseño y desarrollo de páginas web.'
-const titleFoot = {titleOne:'Nuestros Servicios', titleTwo:'Nuestros Propósito', titleThree:'Contacto'}
-let textServicesFoot = {textOne:'Diseño web profesional y exclusivo', textTwo:'Web responsive design', textThree:'Estructura web profesional'}
-let textTarget = 'Crear una sociedad más feliz usando la tecnologia.'
-let textContactFoot = {phone:'(+51) 902 591 012', email:'contacto@bodhiweb.com', address:'Urb. Remansos #5014 - Lurín - Lima'}
-let textReservedFoot = '©2020 Bodhi - Todo los derechos reservados - Politica de privacidad - Términos y Condiciones'